* {font-family: Lora, Ubuntu, Verdana;}

section {margin-bottom:60px;}
section#entry form button {font-size:28px;}
section#body {font-size:14pt; line-height:1.6em;}

input#headline {font-size:24px; padding:30px 10px;}

article h1 {font-family:Bevan, Serif;}

.header {
  text-align:center; border-bottom: 1px solid #ddd; padding-top:30px; padding-bottom:20px;
  h1 {font-family:'Marcellus SC', Serif; font-size:72px; margin:auto;}
}
