@font-face {
  font-family: 'UnifrakturMaguntia';
  font-style: normal;
  font-weight: 400;
  src: local('UnifrakturMaguntia'), url(https://fonts.gstatic.com/s/unifrakturmaguntia/v6/7KWy3ymCVR_xfAvvcIXm3xLmkJ4_pxggemXYRvqU3J0.woff) format('woff');
}
