<h2>Who We Are</h2>
<p>If you've spent any time at all reading our articles, you've probably realized that we are more influenced by e.e. cummings than any other writer.</p>

<p>Our purpose is to make churnalism really easy. Have a story you want to spin? Have a fact you want to create? Search no more. Head to our <a href="/">front page</a> and join our staff of writers.</p>

<h2>Churnalism</h2>
<p>Churnalism is the act of passing anything as journalism. It's a great boon to PR departments and political committees. If you'd like to educate yourself in the art of churnalism, you can consult the following resources:</p>

<ul class="resources">
  <li><a href="http://churnalism.com/">Churnalism.com</a></li>
  <li><a href="http://churnalism.sunlightfoundation.com/">Churnalism at the Sunligh Foundation</a></li>
</ul>

<h2>Want To Contribute?</h2>

<p>If you'd like to help us spread the gospel of churnalism and contribute to the next-generation churnalistic platform, head on over to our <a href="https://github.com/matstc/the-churning-times-app">Github repository</a>.</p>
