<div class="row">
  <div class="col-md-8">
    <article ng-controller="ArticleCtrl">
      <h1>{{article.headline}}</h1>

      <section id="byline">
        by {{article.author}} <span class="text-muted">| {{article.created_at | date}}</span>
      </section>
      <section id="lead">{{article.lead}}</section>
      <section id="social">
        <div class="social-button">
          <button ng-click="shareOnTwitter()"><p><img src="/images/twitter.png">Tweet</p></button>
        </div>
        <div class="clear">&#160;</div>
      </section>
      <section id="picture">
        <img ng-src="{{article.picture.source}}">
        <div class="text-muted">
          <a href="{{article.picture.attribution_url}}">{{article.picture.title}}</a> by {{article.picture.author}}
        </div>

      </section>

      <section id="body" ng-bind-html="article.text">
      </section>
    </article>
  </div>

  <div class="col-md-4">
    <section id="weather">
      <span style="display: block !important; width: 180px; text-align: center; font-family: sans-serif; font-size: 12px;"><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:94114.1.99999&bannertypeclick=wu_simplewhite" title="San Francisco, California Weather Forecast" target="_blank"><img src="http://weathersticker.wunderground.com/weathersticker/cgi-bin/banner/ban/wxBanner?bannertype=wu_simplewhite&airportcode=KSFO&ForcedCity=San Francisco&ForcedState=CA&zip=94114&language=EN" alt="Find more about Weather in San Francisco, CA" width="160" /></a></span>
    </section>

    <section id="listing" ng-controller="ListingCtrl">
      <h2>Related Articles</h2>
      <ul ng-repeat="article in articles">
        <li><img ng-src="{{article.picture.source}}"><a href="#/article/{{article.id}}">{{article.headline}}</a> <span class="text-muted">by {{article.author}} | {{article.created_at | date}}</span></li>
      </ul>
    </section>

    <section id="tweets">
      <a class="twitter-timeline" href="https://twitter.com/ChurningTimes" data-widget-id="485410434611040256">Tweets by @ChurningTimes</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    </section>

  </div>

</div>
