<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <section id="entry" ng-controller="MainCtrl">
      <h1 id="churning-invite">What fact would you like to churn?</h1>
      <form ng-submit="submit()">
        <div class="form-group">
          <input class="form-control" id="headline" type="text" ng-model="headline" placeholder="The headline">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" ng-model="author" placeholder="The author">
        </div>
        <div class="form-group">
          <textarea class="form-control" ng-model="lead" placeholder="The first paragraph"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-block btn-success">Churn it!</button>
        </div>
      </form>
    </section>

    <section id="listing" ng-controller="ListingCtrl">
      <h2>Recently Churned</h2>
      <ul ng-repeat="article in articles">
        <li>
          <tct-byline article="article"></tct-byline>
        </li>
      </ul>
    </section>
  </div>
</div>
