<section id="entry" ng-controller="MainCtrl">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>What fact would you like to churn?</h1>
      <form ng-submit="submit()">
        <div class="form-group">
          <input class="form-control" id="headline" type="text" ng-model="headline" placeholder="Your headline">
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-block btn-success">Churn it!</button>
        </div>
      </form>
    </div>
  </div>
</section>

<section id="listing" ng-controller="ListingCtrl">
  <h2>Recently Churned</h2>
  <ul ng-repeat="article in articles">
    <li><a href="#/article/{{article.id}}">{{article.headline}}</a></li>
  </ul>
</section>
